<div id="profile"><h1 >Profile</h1></div>


<div class ="dashcontainer">



  <div class ="bookings", style="font-family:roboto; background-color: whitesmoke;">
      <h2 style="font-family:roboto">My bookings</h2>
      <% if @bookings %>
        <% @bookings.each do |booking| %>
           <ul>
              <li><strong>Address:</strong> <%= booking.parking.address%> </li>
              <li><strong>Arrival:</strong> <%= booking.booking_start%></li>
              <li><strong>Depart:</strong>  <%= booking.booking_end%></li>
            </ul>
            <%if booking.confirmation == false%>
              <p class="grey">(Awaiting owner validation)</p>
            <%end%>
            <p><small><%= link_to "delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"}, class: 'text-danger' %></small></p>
          <% end %>
      <% else %>
      <p>you do not have any bookings completed yet</p>
      <% end %>
  </div>

  <div class ="parkings" style="font-family:roboto; background-color: white;">
    <h2 style="font-family:roboto">My Parkings</h2>
    <div class = "parking-info">
      <% if @parkings %>
        <% @parkings.each do |parking| %>
          <div class = "parking-info">
            <%=  link_to parking_path(parking), class: "link-to-show" do%>
              <div class="card-profile" style="background-color:lightbrown">
                <%= cl_image_tag parking.photos.first.key, width:200 %>
                <div class="card-profile-infos">
                  <h2 style="font-family:roboto"><%= parking.address %></h2>
                  <p> <%= parking.description.capitalize %> (<%= parking.width %>cm wide, <%= parking.height %>cm tall, and <%= parking.length %>cm long.)</p>
                  <div id = "bottom">
                    <p>Availability: <%= parking.start_date %></p>
                    <p><small><%= link_to "delete", parking_path(parking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this parking?"}, class: 'text-danger' %></small></p>
                    <p id ="edit-button"> <%= link_to edit_parking_path(parking), class: "link-to-show" do %> edit </p><%end %>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
          <div class="booking-confirm d-flex" style="font-family:roboto;">
            <%parking.bookings.each do |booking_by_parking|%>
              <div class="booking-parking" style="background-color: white; margin-bottom:4px">
                <p style="font-family:roboto"> Booking by </p>
                <h2 style="font-family:roboto"><%=booking_by_parking.user.first_name%> <%=booking_by_parking.user.last_name%> </h2>
                <%= cl_image_tag booking_by_parking.user.photo.key, class:"mini-avatar"%>
                <ul>
                  <li>For the <%=booking_by_parking.booking_start%></li>
                  <li>Until <%=booking_by_parking.booking_end%> </li>

                <%if booking_by_parking.confirmation == false %>
                  <%=link_to validate_booking_path(booking_by_parking), data: {turbo_method: :patch}, class:" icon yes" do%>
                  <i class="fa-solid fa-circle-check"></i>
                  <%end%>
                <%end%>
                <%=link_to booking_path(booking_by_parking), data: {turbo_method: :delete}, class:"icon non" do%>
                  <i class="fa-solid fa-circle-minus"></i>
                <%end%>
                </ul>
              </div>
            <%end%>
          </div>
        <%end%>

      <% else %>
        <p>you do not have any parkings registered yet</p>
      <% end %>
    </div>
  </div>
</div>
