<div id="profile"><h1 >Profile</h1></div>


<div class ="dashcontainer">

  <div class ="user-info">
        <%= cl_image_tag current_user.photo.key, class: "avatar-square", alt: "avatar-square" %>
      <p id="host-name"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
  </div>

  <div class ="bookings">
      <h2>My bookings</h2>
      <% if @bookings %>
        <% @bookings.each do |booking| %>
           <ul>
              <li><strong>Adresse:</strong> <%= booking.parking.address%> </li>
              <li><strong>Arrival:</strong> <%= booking.arrival%></li>
              <li><strong>Depart:</strong>  <%= booking.depart%></li>
            </ul>
          <% end %>
      <% else %>
      <p>you do not have any booking yet</p>
      <% end %>
  </div>

  <div class ="parkings">
  <h2>My Parkings</h2>
       <% if @parkings %>
          <% @parkings.each do |parking| %>
              <%=  link_to parking_path(parking), class: "link-to-show" do%>
              <div class="card-profile">
                <%= cl_image_tag parking.photos.first.key, width:200 %>
                <div class="card-profile-infos">
                  <h2><%= parking.address %></h2>
                  <p> <%= parking.description.capitalize %> (<%= parking.width %>cm wide, <%= parking.height %>cm tall, and <%= parking.length %>cm long.)</p>
                  <div id = "bottom">
                    <p>Availability: <%= parking.availability_date %></p>
                    <p><small><%= link_to "delete", parking_path(parking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this parking?"}, class: 'text-danger' %></small></p>
                  </div>
                </div>
              </div>
              <% end  %>
           <% end %>
        <% else %>
           <p>you do not have any Parking yet</p>
        <% end %>
  </div>

</div>
