


<div class="search">
  <%= form_with url: parkings_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a parking"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>


<div class= "index-split" style="margin-top: 70px">
  <ul>
    <% @parkings.each do |parking| %>
      <%=  link_to parking_path(parking), class: "link-to-show" do%>
        <div class="card-product">
          <%= cl_image_tag parking.photos.first.key, width:200 %>
          <div class="card-product-infos">
            <h2><%= parking.address %></h2>
            <p> <%= parking.description.capitalize %> (<%= parking.width %>cm wide, <%= parking.height %>cm tall, and <%= parking.length %>cm long.)</p>
            <p> Availability: <%= parking.start_date %></p>
          </div>
        </div>
      <% end  %>
    <% end %>
  </ul>
  <div class= "map" style="width: 45%; height: 350px; position: fixed; right: 10px; margin-right: 20px; margin-top: 10px; margin-bottom: 40px; border-radius: 5px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
